.text-red {
	color: red;
}

.hamza-img {
	width: 300px;
	margin-top: -30px;
	margin-left: 50px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
